# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# build outputs
/dist
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*

# local env files
.env*.local
.env.local

# wrangler
.wrangler/
.dev.vars
